[2014-02-17 15:33] alloy opened #4 "Verify that the repo being pushed to is actually our spec repo."
Some people fork and/or otherwise re-use the name ‘master’, so this should only post to the Trunk app if ‘master’ is **our** spec repo: `$ pod push master Foo.podspec`

[2014-04-13 19:39] orta opened #5 "API routes for register has changed"
probably more where that came from.

[2014-05-13 11:56] alloy opened #6 "Add tests, hipsters."
Possibly base the testing on this: http://blog.apiary.io/2013/10/17/How-to-test-api-with-api-blueprint-and-dredd/

[2014-05-13 11:57] #5 closed, assigned to nobody

[2014-05-13 11:58] alloy opened #7 "Add commands for missing API calls."
E.g. deleting sessions.

[2014-05-13 12:11] alloy opened #8 "Error handling of requests."

[2014-05-17 18:16] kylef opened #9 "Add a logout command"
Removes my session (could have a different name)

[code]

[2014-05-18 09:22] AliSoftware opened #10 "Fix crash when `pod trunk push` is passed a directory instead of a spec"
[code]

[2014-05-18 09:34] AliSoftware opened #11 "Registration validation page ugly / missing CSS"
When following the registration validation link for the first time in the "Confirm your registration" email, we arrive to this page, that seems to miss some CSS and some actual content to tell us that the registration has been confirmed.

![pod trunk - registration verification page](https://cloud.githubusercontent.com/assets/216089/3007138/47f0c4ca-de6f-11e3-9003-c34fe5c0126e.png)

_(Google Chrom

[2014-05-18 11:33] AliSoftware opened #12 "Opening expired registration validation page leads to 404"
When opening the "registration validation" page after the first time, as the token has expired, it leads to a 404.

It should instead maybe lead to a page explaining that "This session has already been verified (or this is an invalid verification token)" or somewhat.

[2014-05-18 11:34] AliSoftware opened #13 "404 page is empty"
We need some proper design for 404 error pages (or at least a non-empty page)

[2014-05-18 11:37] #13 closed, assigned to nobody

[2014-05-19 09:25] #4 closed, assigned to nobody

[2014-05-19 09:35] fabiopelosin opened #14 "Rename repo to cocoapods-trunk"
This is the name of the gem

[2014-05-19 09:38] #14 closed, assigned to nobody

[2014-05-19 09:45] #12 closed, assigned to nobody

[2014-05-19 09:48] #11 closed, assigned to orta

[2014-05-19 09:48] #8 closed, assigned to nobody

[2014-05-19 09:49] alloy opened #15 "Add command to list owners."

[2014-05-19 09:49] #7 closed, assigned to nobody

[2014-05-19 10:04] orta opened #16 "Show the linter errors if it fails"
I got no output, had to re-run with `--verbose`

[code]

[2014-05-19 10:18] #10 closed, assigned to nobody

[2014-05-19 10:53] #16 closed, assigned to nobody

[2014-05-20 15:48] segiddins opened #17 "Add command to list all pods owned by user"
Either nest under `pod trunk me` or `pod trunk pods` or something else. Will depend on https://github.com/CocoaPods/trunk.cocoapods.org/issues/77.

[2014-05-21 23:01] segiddins opened #18 "Add network error handling"

[2014-05-23 22:43] #17 closed, assigned to segiddins

[2014-05-29 14:29] dblock opened #20 "Deduce podspec from path"
Enable specifying a directory instead of a Podspec file, and default it to current directory. Deduce the file name from the current directory automatically if there's a single .podspec file.

From https://github.com/CocoaPods/CocoaPods/issues/2202

[2014-05-29 17:50] #20 closed, assigned to AliSoftware

[2014-07-03 16:53] John-Lluch opened #23 "Not allowed to push new versions for this pod."
I am getting this when attempting to update MY pod file.

[!] You are not allowed to push new versions for this pod.

Why?. What can I do or where can I look at?.

Thanks

[2014-07-05 16:06] #23 closed, assigned to nobody

[2014-08-12 08:10] #18 closed, assigned to segiddins

[2014-09-15 14:59] kylef opened #26 "Pushing a spec repository hides the validation errors from the spec lint"
When you run trunk push with an invalid spec, it will tell you it does not validate but never exposes the actual validation errors. We should provide these to the user.

[code]

[2014-09-29 17:13] kylef opened #28 "When linting, only allow dependencies from master"
Suppress the following warning and force master to be used.

[code]

[2014-10-01 18:32] #28 closed, assigned to nobody

[2014-10-07 22:02] #26 closed, assigned to nobody

[2014-10-10 19:30] ashfurrow opened #29 "Expose pod owners somehow"
Some OSS contributors don't maintain their podspecs, which is fine, but it makes it problematic when there is something wrong with the podspec and you need to know who to contact ([example](https://twitter.com/jspahrsummers/status/520653365991059458)). Whilst the information is available from the API, it'd be useful to expose in a UI either on CocoaPods.org or through the CLI.

Orta's suggestion w

[2014-10-10 19:40] #9 closed, assigned to nobody

[2014-10-10 19:42] #29 closed, assigned to nobody

[2014-10-15 22:04] steprescott opened #30 "You are not allowed to push new versions for this pod."
When I try `pod trunk me` it shows I am linked to no pods.

I should be linked to several. One that I am trying to push is SCPStoreKitManager pod.

I can not add a new owner and when I try to claim the pod it says it has already been claimed.

Could you shine any light onto this. Thanks.

[2014-10-15 22:09] #30 closed, assigned to nobody

[2014-10-16 00:13] kylef opened #31 "Provide a subcommand to yank/deprecate a pod"
https://github.com/CocoaPods/CocoaPods/issues/2235

We would need changes to trunk API to provide support for this.

[2014-11-08 01:46] ckteebe opened #32 "CustomBadge / "... not allowed to push new versions ...""
Hi,
I am the creator of CustomBadge and after a long time I made a new Version (3.0.0).
It has been requested that I should update the Specfile on Cocoapod.
I did not use Cocoapod before but its pretty neat. :)
I created a new spec with the current version and when I tried to push it
<code>pod trunk push CustomBadge.podspec</code>
pod says:
<b>"[!] You are not allowed to push new versions for this

[2014-11-08 03:22] #32 closed, assigned to nobody

[2014-11-17 23:29] kylef opened #33 "`pod trunk push` succeeded even though build failed"
See these logs:

[code]

[2014-11-22 15:52] #15 closed, assigned to nobody

[2014-11-26 01:22] kylef opened #35 "Add a command to remove an owner"

[2014-11-26 22:07] #35 closed, assigned to nobody

[2014-12-02 22:08] Fl0p opened #37 "trunk pod info"
For now there a lot of podspecs that are created by Eloy Durán, 20.05.2014 00:30:19
that does not have authors. For example:

https://github.com/CocoaPods/Specs/blob/master/Specs/gtm-oauth2/0.1.0/gtm-oauth2.podspec.json

All of this specs not maintained for a time. And looks like dead
I can't find an owner contact for request for update or add-owner
I can't even know is this pod have owner or not,

[2014-12-02 22:27] #37 closed, assigned to nobody

[2014-12-31 02:39] #33 closed, assigned to kylef

[2015-01-11 15:39] ashfurrow opened #38 "Problem with pod trunk push that receives 422"
I ran `pod trunk push Moya.podspec` and received the following error:

[code]

Running with `--verbose` yielded the following output:

[code]

I'd expect that the `warnings` array would be printed, but it looks like something might be wrong in `print_error`.

Let me know what else I can provide to help.

[2015-01-11 15:41] orta commented on #38
Thanks! It should be sorted with https://github.com/CocoaPods/trunk.cocoapods.org/pull/124

[2015-01-11 15:41] #38 closed

[2015-01-12 14:35] jameswangz commented on #15
Is the "pod trunk info" command only available on the pre-release version?  I installed 0.35.0 but it doesn't work.

[2015-01-12 15:06] orta commented on #15
yes, only in pre-release

[2015-01-13 05:26] jameswangz commented on #15
Installed 0.36.0.beta.1 and it works,  thanks!

[2015-01-13 12:24] kylef opened #39 "API errors are not exposed to client when pushing without --verbose"
We should show these when pushing.

[2015-01-13 12:27] alloy commented on #39
https://github.com/CocoaPods/trunk.cocoapods.org/issues/112

[2015-03-07 02:42] segiddins commented on #39
Closed by https://github.com/CocoaPods/cocoapods-trunk/pull/40/.

[2015-03-07 02:42] #39 closed

[2015-04-22 19:08] segiddins opened #43 "Update the master repo before and after pushing"

[2015-05-09 16:32] #43 closed

[2015-05-10 10:38] HParis opened #45 "Warnings: Github repositories should end in `.git`."
There has some warnings when I use pod trunk push.

    pod trunk push PSWaveView.podspec --allow-warnings
    Validating podspec
     -> PSWaveView (0.0.1)
        - WARN  | Github repositories should end in `.git`.

    [!] The Pod Specification did not pass validation.
    The following validation failed:
    - Warnings: Github repositories should end in `.git`.

[2015-05-10 10:41] HParis commented on #45
Sorry, I found the problem that I wrote the wrong git address

[2015-05-10 10:41] #45 closed

[2015-10-30 19:41] kylef opened #48 "`pod trunk push` will error if the master spec repository is not present"
The updating of master spec repository should first create it if necessary.

[code]

[2015-10-30 21:04] segiddins commented on #48
Just replace the update calls with invocations of the setup command. Please make a PR @kylef

[2015-11-22 15:28] galkeidar commented on #23
Can pod have more than one owner?

[2015-11-22 15:41] AliSoftware commented on #23
@galkeidar yes they can. One of the current owner of the pod on trunk can simply run `pod trunk add-owner` in their terminal to add a new owner to their pod so they're allowed to push on trunk too. Pretty common for pods developed by a team of people.

[2015-12-08 03:04] dkhamsing commented on #48
Hi guys, not sure if this is related..

[code]
[code]

The repo is https://github.com/fhsjaagshs/FHSTwitterEngine .. may have some issues with version?!
How should I proceed

[2015-12-08 03:25] segiddins commented on #48
Yes it is. Either make a PR fixing the issue here, or run `pod setup` locally.

[2015-12-08 03:30] dkhamsing commented on #48
Oh didn't understand what you meant at first but got it
Thanks

[2015-12-08 15:21] #48 closed

[2015-12-30 09:28] #31 closed

[2015-12-30 17:11] segiddins commented on #6
There are specs. There can always be more. Closing.

[2015-12-30 17:11] #6 closed

[2016-01-18 20:37] SikhNerd opened #52 "pod trunk deprecate net error"
### Report

🌈

* What did you do?
 * `pod trunk deprecate <podname>`
* What did you expect to happen?
 * pod to deprecate
* What happened instead?
 * Network related error, looks like passing a hash rather than a string.

### Stack

[code]

### Plugins

[code]

### Error

[code]

[2016-01-18 20:47] orta commented on #52
Looks like a problem in the cocoapods-trunk gem, oddly enough, definitely worth keeping this open for a bit though.

[2016-01-18 20:47] SikhNerd commented on #52
doing with `--verbose` only adds the following, is there anything further I can provide to help debugging?

[code]

[2016-01-21 21:29] trnql commented on #52
We are having the exact same issue.

[2016-01-25 22:04] #52 closed

[2016-01-26 18:25] k06a commented on #31
Just tried to deprecate own young pod:
[code]
And got this error:
[code]
/usr/local/bin/pod trunk deprecate ABCropRotateView --in-favor-of=CroptateView
[code]
   CocoaPods : 1.0.0.beta.2
        Ruby : ruby 2.0.0p645 (2015-04-13 revision 50299) [universal.x86_64-darwin15]
    RubyGems : 2.5.1
        Host : Mac OS X 10.11.2 (15C50)
       Xcode : 7.2 (7C68)
         Git : git version 2.5.4 (Apple

[2016-01-26 18:31] segiddins commented on #31
@k06a that's been fixed on master

[2016-01-26 18:32] k06a commented on #31
@segiddins can you give me short intro or link on how to install cocoapods from `master`?

[2016-01-26 18:52] segiddins commented on #31
https://guides.cocoapods.org/using/unreleased-features.html

[2016-01-26 20:56] k06a commented on #31
@segiddins looks like not solved in `master` :(

### Command

[code]

### Report

* What did you do?

* What did you expect to happen?

* What happened instead?

### Stack

[code]

### Plugins

[code]

### Error

[code]

[2016-01-26 21:11] segiddins commented on #31
Please open up a new issue then, making sure you're using cocoapods-trunk from master (I can see your e running with a commit from before the fix was pushed)

[2016-02-03 20:02] fulldecent opened #54 "Unable to interpret the specified path"
I am getting this error message and have no idea what it means:
https://github.com/CocoaPods/cocoapods-trunk/blob/7596a6a39f2a122c33c23614b062bf36d062be88/lib/pod/command/trunk/push.rb#L93-L95

Here is my podspec that used to work fine but now triggers that error:
https://github.com/fulldecent/FDSoundActivatedRecorder/blob/4ca524559999eca411a382b8293521fcfd19e257/FDSoundActivatedRecorder.podspec

[2016-02-03 21:08] segiddins commented on #54
What's the output of `pod env` and the contents of the podspec?

[2016-02-04 03:15] SikhNerd opened #55 "Pod trunk deprecate server error"
Greetings,
I hate to do this, but looks like essentially #52 is not resolved, as I now get the following:

$pod trunk deprecate <podname> --verbose:
[code]

My gems, as well as a fresh pod setup:
[code]

[2016-02-04 03:30] segiddins commented on #55
This is an issue with trunk.cocoapods.org, not the cocoapods-trunk CLI plugin.

[2016-02-04 03:41] segiddins commented on #55
I'm working on a fix for this.

[2016-02-04 03:41] #55 closed

[2016-02-04 05:04] segiddins commented on #55
@SikhNerd should be fixed now, and the fix deployed

[2016-02-04 05:15] pyze commented on #55
Appreciate the fast turn around. Looks like it functioned fully, though I still got an error:

[code]

[2016-02-04 05:15] SikhNerd commented on #55
Appreciate the fast turn around. Looks like it functioned fully, though I still got an error:

[code]

[2016-02-04 05:20] segiddins commented on #55
Open an issue on trunk.cocoapods.org for that one? Don't think I can justify fixing it tonight, though.

[2016-02-05 08:33] SikhNerd commented on #55
Looks like it's covered in https://github.com/CocoaPods/trunk.cocoapods.org/issues/168

[2016-02-05 08:35] orta commented on #55
Yeah, :+1: - let's leave both open - thanks for connecting the two @SikhNerd

[2016-03-06 16:07] renebigot opened #56 "[!] You are not allowed to push new versions for this pod."
Hello,
I've created a lib on github some time ago. Someone helped me to make this library compatible with Cocoapods.
The problem is that he's created the pod, so I can't update it.
Is there a way to become the pod owner (as I'm the repo owner) ?

The Pod can be find here : https://cocoapods.org/pods/XlsxReaderWriter

You'll see in the pod description that I'm really the repo owner.

Should I fix i

[2016-03-17 18:33] renebigot commented on #56
I've claim ownership thanks to the link below. Thank you.

[2016-03-17 18:33] #56 closed

[2016-03-17 18:34] orta commented on #56
Ah yeah, sorry, missed this, claims was the right way to go :+1:

[2016-03-17 18:35] renebigot commented on #56
no worry. :)

[2016-04-01 13:45] viacheslavleonov opened #57 "I've deleted all versions of my pod and now I can't push anything there"
Hello.
I've been deploying new pod to the trunk and pushed several beta versions last week. Today I've deleted all of them using "pod trunk delete" and my pod vanished from the Specs rep. But it's show in the list of pods on cocoapods.org but I can't click on it.
The main problem is that I can not push any new version right now. I receive error "[!] {"name"=>["is already taken"]}"
Looks like pod w

[2016-04-01 16:28] segiddins commented on #57
This is a duplicate of https://github.com/CocoaPods/trunk.cocoapods.org/issues/172 -- we hope to get around to fixing it soon!

[2016-04-01 16:28] #57 closed

[2016-04-05 06:47] gmarm opened #59 "Cannot push to trunk (Internal Server Error)"
Hello,

I'm trying to push my updated .podspec to trunk but I'm getting the error below. I've tried different things but cannot seem to tackle the problem.

Here's what I did:
`pod spec lint BetterSegmentedControl.podspec` (validates properly with message: "BetterSegmentedControl.podspec passed validation.")
`pod trunk register <email>` (clicked link from my mail)
`pod trunk push BetterSegmentedCo

[2016-04-05 10:00] alloy commented on #59
See https://github.com/CocoaPods/trunk.cocoapods.org/pull/177 for some discussion about this.

In the meantime, you can fix your issue by changing the tag to a string:

[code]

[2016-04-05 14:18] #59 closed

[2016-04-05 16:56] gmarm commented on #59
@alloy thanks so much. I guess I'm simply blind!

[2016-04-13 05:01] dzenbot opened #60 "'pod trunk deprecate' error although command succeeded"
After calling `pod trunk deprecate iOSBlocks --verbose`, there are error on the output while the command still succeeded.
Here's the full log if it helps somehow:
[code]

I'm using cocoapods-trunk (1.0.0.beta.2)

[2016-04-13 07:58] orta commented on #60
Looks like this is covered by https://github.com/CocoaPods/trunk.cocoapods.org/issues/168 - we've just not found time to fix trunk yet

[2016-04-13 07:58] #60 closed

[2016-04-15 16:44] iulukaya opened #61 "1.0.0 beta 7 NameError - uninitialized constant Pod::Command::Trunk::Push::SourcesManager"
What did you do?

pod trunk push

Error

NameError - uninitialized constant Pod::Command::Trunk::Push::SourcesManager
/Library/Ruby/Gems/2.0.0/gems/cocoapods-trunk-1.0.0.beta.3/lib/pod/command/trunk/push.rb:114:in `update_master_repo'
/Library/Ruby/Gems/2.0.0/gems/cocoapods-trunk-1.0.0.beta.3/lib/pod/command/trunk/push.rb:58:in `run'
/Library/Ruby/Gems/2.0.0/gems/claide-1.0.0.beta.3/lib/claide/com

[2016-04-15 17:17] segiddins commented on #61
Thanks, looks like I forgot to update cocoapods-trunk

[2016-04-15 20:00] #61 closed

[2016-04-15 20:04] segiddins commented on #54
Closing due to lack of response.

[2016-04-15 20:04] #54 closed

[2016-04-24 22:06] delba opened #63 "Unable to interpret the specified path"
Hi,

When running `pod trunk push`, I get the error message:
`[!] Unable to interpret the specified path as a podspec.`

This might be related to #54

Here is the output of `pod env`:

### Stack

[code]

### Installation Source

[code]

### Plugins

[code]

The contents of the podspec:

[code]

Thanks 😄

[2016-04-24 22:30] segiddins commented on #63
What's the output of `pod spec lint --verbose`?

[2016-04-24 22:58] delba commented on #63
Oh ok, sorry @segiddins :

It's `tvos` and `watchos` and not `tvOS` / `watchOS`.

Thank you 🙇

[2016-04-24 22:58] #63 closed

[2016-06-23 00:23] nicksnyder opened #70 "`pod trunk deprecate` should have version parameter"
I would like to deprecate specific versions of a pod without deleting them.

I tried to update the podspecs with the `deprecated` flag but my pull request was automatically closed:
https://github.com/CocoaPods/Specs/pull/14038

`pod trunk deprecate` only accepts a NAME parameter but I don't want to deprecate the whole pod.

[2016-06-23 00:34] segiddins commented on #70
Deprecating specific versions isn't something we really intended to support -- what's your use case for it?

[2016-06-23 20:41] nicksnyder commented on #70
Oh, I guess I just assumed that since deprecated was a property of the podspec that it made sense to deprecate certain versions so they didn't show up in search results.

In general it seems to be a good idea to be able to mark specific pod versions as deprecated (perhaps there was a security issue, critical bug, etc.) to discourage new dependencies on that version.

Deleting is of course an optio

[2016-06-23 22:02] segiddins commented on #70
Yeah, I think we want to encourage people to deprecate all versions of a pod, and have people just presume that they should update to the latest version if there is a new one

[2016-06-23 22:02] #70 closed

[2016-09-23 12:41] neonichu opened #71 "Deprecating a pod with emoji name fails"
Might just be a case of generating the correct URL?  ¯\\\_(ツ)\_/¯

### Command

[code]

### Report

* What did you do?

* What did you expect to happen?

* What happened instead?

### Stack

[code]

### Plugins

[code]

### Error

[code]

[2016-09-23 12:58] segiddins commented on #71
`/Users/segiddins/.rubies/2.3.1/lib/ruby/2.3.0/uri/rfc3986_parser.rb:21:in `split': URI must be ascii only "https://trunk.cocoapods.org/api/v1/pods/\u{1f555}/deprecated" (URI::InvalidURIError)` :sob:

[2016-09-23 13:05] segiddins commented on #71
https://github.com/ruby/ruby/commit/b757ff3ef6659ef959a58d15f345f97e19697731

[2016-09-23 13:05] orta commented on #71
oh, interesting

[2016-10-14 07:29] icanzilb opened #73 "More engaging message when pod is successfully pushed"
As per: https://twitter.com/orta/status/786828976559951872?lang=en

Tweets with an image are enjoying much higher % of engagements - I've seen often people announce they pushed up a new version of their pod and attach a screenshot like this one:

![image](https://cloud.githubusercontent.com/assets/633862/19379018/384474b8-91f0-11e6-9fea-31ba1eb50c74.png)

As proposed to @orta - a nicer looking mes

[2016-10-14 07:35] DanToml commented on #73
could do something like:
🚀 You just released TaskQueue 1.0.1!
📝 http://cocoapods.org/pods/TaskQueue

[2016-10-14 07:41] icanzilb commented on #73
I'd also have another line with the date - makes for nicer screenshots when sharing, so people know the content is fresh:

📅 October 14th, 2016

[2016-10-14 07:43] icanzilb commented on #73
🎉 Congrats!

🚀 TaskQueue 1.0.1 is up
📅 October 14th, 2016
📝 http://cocoapods.org/pods/TaskQueue
👍 Tell your friends

[2016-10-14 07:47] orta commented on #73
👍

[2016-10-14 11:10] icanzilb opened #74 "pod delete errors and dumps HTML in console"
`pod trunk delete MTLog 0.6.0` (which I'd expect to delete a version of my pod) outputs in the console:

[code]

[2016-10-14 11:12] icanzilb opened #75 "pod trunk deprecate errors and dumps HTML in console"
`pod trunk deprecate MTLog` errors and dumps this in the console:
(probably related to https://github.com/CocoaPods/cocoapods-trunk/issues/74)

[code]

[2016-10-14 11:13] DanToml commented on #74
I think this is due to https://github.com/CocoaPods/trunk.cocoapods.org/issues/168

(redirects to pod page, then 404s, spewing out the error)

[2016-10-14 11:16] icanzilb commented on #74
Seems related 🤔

[2016-10-14 11:48] icanzilb commented on #73
Opened a PR: https://github.com/CocoaPods/cocoapods-trunk/pull/76

[2016-10-14 11:48] #73 closed

[2016-10-19 19:37] ricardopereira opened #80 "Unrecognized `pushed_with_swift_version` key"
**pod --version:** 1.1.0
**podspec:** https://github.com/whitesmith/WSLogger/blob/master/WSLogger.podspec

**result:**
[code]

[2016-10-19 19:41] ricardopereira commented on #80
Maybe it's related with https://github.com/whitesmith/WSLogger/blob/372138d747ad138fe66289c8bd293fb813775a39/.swift-version

[2016-10-19 20:14] segiddins commented on #80
@orta you need to make usage of that method conditional on it being defined

[2016-10-19 20:24] ricardopereira commented on #80
I was able to push the release with `--allow-warnings` ¯\_(ツ)_/¯

[2016-10-19 20:57] segiddins commented on #80
@orta you need to update trunk to handle the extraneous key in the root-level hash

[2016-10-20 05:58] orta commented on #80
Alright - trunk now has https://github.com/CocoaPods/trunk.cocoapods.org/pull/195, people shouldn't be seeing these messages 👍

[2016-10-20 05:58] #80 closed

[2016-11-17 09:51] iTofu opened #82 "How to reset my Name?"
If I run `pod trunk register devtip@163.com 'ErrorName'`, after how to reset name?

[2016-11-17 09:51] iTofu commented on #82
https://github.com/CocoaPods/CocoaPods/issues/6182

[2016-11-17 10:16] orta commented on #82
Looks like this is a dupe of https://github.com/CocoaPods/trunk.cocoapods.org/issues/155 - you're welcome to take a stab at fixing it 👍

[2016-11-17 10:16] #82 closed

[2017-03-15 12:29] mmdumi opened #88 "Publish new pod issue"
I'm trying to push the following repo as a new pod `https://github.com/what3words/w3w-swift-wrapper` but pod trunk push gives me the following error:

I've checked and there is no other existing pod with this name, and I'm not sure from where the second email address is fetched.

[2017-04-05 11:37] FfanPublic opened #89 "cocoapods-trunk only dependency `netrc` 0.7.8"
cocoapods-trunk has the dependency `netrc`, but its version is `=0.7.8`. I think it is very hard to work with other gem. eg. `fir-cli`:
[code]

could CP upgrade the netrc version?

[2017-04-05 15:03] orta commented on #89
Sure, can't see why not, want to look at that?

[2017-04-05 15:03] orta commented on #88
This is likely a pod that was created and deleted, have you emailed the previous owner?

[2017-04-05 15:04] orta commented on #89
Maybe see if you can get https://github.com/CocoaPods/cocoapods-trunk/pull/84 mergeable?

[2017-04-09 05:12] WelkinXie opened #90 "How can I modify the email address registered for several pods?"
I am working with a new mac so I have to register again, but I can not receive the verification email (welkin995@126.com). I have checked the spam but there is nothing. Thus I want to modify the email address. I have submitted a claim via trunk.cocoapods.org but receive no response. What should I do next?

[2017-04-12 20:57] orta commented on #90
Can you give me a list of the Pods? I've changed WXWaveView so far to use your `qq.com` email

[2017-04-13 05:49] WelkinXie commented on #90
I've sent you an email about the Pods. Thanks!

[2017-04-13 05:59] #90 closed

[2017-04-13 20:15] orta commented on #90
This dispute is now resolved.

[2017-04-17 14:12] Whirlwind commented on #89
Is there a plant to merge #84 ?

[2017-04-17 14:28] segiddins commented on #89
Once the comments on it are addressed

[2017-04-25 03:22] xclidongbo opened #91 "I can`t receive the email"
version 1.2.0

lidongbo:XCkit lidongbo$ pod trunk me
[!] Authentication token is invalid or unverified. Either verify it with the email that was sent or register a new session.
lidongbo:XCkit lidongbo$ pod trunk register xclidongbo@gmail.com 'xclidongbo' --description='macboo
kpro'
[!] Please verify the session by clicking the link in the verification email that has been sent to xclidongbo@gmail.c

[2017-04-27 00:33] #91 closed

[2017-06-20 18:51] pronebird commented on #89
Same issue here. Cannot use `cocoapods` with `rest-client`.

[2017-06-27 14:30] Whirlwind commented on #89
:( I just use `rest-client`, and I get this issue again.

[2017-07-05 11:37] Blackjacx commented on #23
Hey,

I just realised that one of my pod has been assigned to the email of my former employer. I now don't have access to this email but need to update my pod. I already send a dispute. Can somebody please transfer the ownership to me?

The pod is the "SHDateFormatter". You can simply verify that it is my pod since it is located in my Github account.

Thanks in advance,
Stefan

[2017-07-05 11:40] orta commented on #23
@Blackjacx please don't re-open old posts, you already submitted a claim - your dispute didn't include your new email address, so I'm not sure what to add you to

[2017-07-05 11:41] Blackjacx commented on #23
Oh sorry Orta. It is the same email address but with @gmail.com.

[2017-07-05 11:41] orta commented on #23
Cool - done 👍

[2017-07-06 16:11] anil11 commented on #63
Hi ,

Can you help me regarding below issue.

[!] Unable to interpret the specified path `Peanut.podspec` as a podspec (Pod::DSLError).

[2017-08-12 02:09] dvlprliu commented on #89
I get the same issue, maybe get this PR #95 merged?

[2017-09-13 02:15] danieldahan opened #98 "Not getting session email."
Hey! I cannot receive a session with the email daniel@graphkit.io. Thank you!

[2017-09-14 14:36] danieldahan commented on #98
Hey :) Any update to this, I need to make a release. Thank you!

[2017-09-17 12:58] orta commented on #98
Both of your emails came back as bounced from your mail host, and were marked for not being sent to. I've removed the mark, so the next email won't be suppressed from our side 👍

<img width="1424" alt="screen shot 2017-09-17 at 8 57 12 am" src="https://user-images.githubusercontent.com/49038/30521021-52a69fd4-9b86-11e7-9693-5d5f84ea0e7c.png">

[2017-09-17 12:58] #98 closed

[2017-09-17 14:37] danieldahan commented on #98
Thank you!

[2017-09-17 15:08] danieldahan commented on #98
Thank you! :)

[2017-09-28 16:03] jcesarmobile commented on #75
Same here.
My message is pretty bigger, but it the end it's just a website with this message

maybe the deprecate endpoint is down?

[2017-10-02 12:08] DanToml commented on #89
0.11 is now out in cocoapods-trunk 1.3.0

[2017-10-02 12:08] #89 closed

[2017-10-06 20:58] batkov opened #100 "No email received for pod trunk register"
Hi,
haven't received any mail after

pod trunk register batkov@i.ua 'some' --description='macmini'
Looks same as:
https://github.com/CocoaPods/CocoaPods/issues/6960
Filled report here:
https://github.com/CocoaPods/CocoaPods/issues/7107

Still not fixed

[2017-10-06 21:16] orta commented on #100
I removed out block, but the IP of your email address is on a spam blacklist we don't control - if it's not working I don't think it will at all.

[2017-10-06 21:50] batkov commented on #100
And how can I access my pods? session is not valid for all my computers

[2017-10-08 09:41] batkov commented on #100
@orta Could you add my another email to pods?

[2017-11-16 09:23] xiaoyao250 opened #101 "Error with 'pod trunk register'"
```pod trunk register 892895471@qq.com "xiaoyao250"```
Error with 'pod trunk register' ,but I get the email，like this
[code]
then I ```pod trunk me```
it`s failer,the message is look like this
[https://github.com/CocoaPods/CocoaPods/issues/7107]

[2017-11-22 14:35] GeroHerkenrath opened #102 "Another missing verification mail"
For some reason my previous authentication token was reported as invalid when I tried to publish a new version for my pod "Trustbadge". I haven't pushed a new version of my pod in a while and upgraded to Macos High Sierra in the meantime. CocoaPods was also updated in the meantime.

I tried `pod trunk register gero.herkenrath@trustedshops.de 'Gero Herkenrath' --description='Macbook' --verbose`, bu

[2017-11-22 14:42] orta commented on #102
That email isn't showing up on trunk as being blocked/bounced or spam - it's showing as delivered

<img width="1270" alt="screen shot 2017-11-22 at 9 42 12 am" src="https://user-images.githubusercontent.com/49038/33133031-7387b9c4-cf69-11e7-88c2-8f0fdf2bfbcd.png">

[2017-11-22 15:01] GeroHerkenrath commented on #102
Thanks a LOT for the quick reply. Obviously I checked my spam folder already, but now something tells me our infrastructure here messes up (i.e. I don't trust our exchange server & spam filter service...). I will close this for now. Thanks again.

[2017-11-22 15:01] #102 closed

[2017-11-29 13:13] Jauzee opened #103 "Can't receive authentication email"
I know there are another similar issue, but need to create this one to draw your attention.

My email: jauzee@ramotion.com — it's Gmail enterprise account. Requested several times, but no success.

@orta can you please check what's wrong here?

[2017-11-29 13:19] orta commented on #103
We have a block on it because your account was disabled when trunk first sent out an email:
<img width="911" alt="screen shot 2017-11-29 at 8 18 51 am" src="https://user-images.githubusercontent.com/49038/33377044-0598eeea-d4de-11e7-8e8b-f943490f38bc.png">

I've removed the block

[2017-11-29 13:19] #103 closed

[2017-11-29 14:04] Jauzee commented on #103
Thank you @orta!

[2018-01-07 02:49] kylefleming opened #104 "pod trunk push error with binary hosted on github"
Mirroring https://github.com/CocoaPods/CocoaPods/issues/7143 as per @dnkoutso's suggestion:

# Report

## What did you do?

* Created podspec for version 3.3.0 of OpenCV. The `source` is a zip file hosted on github:
https://github.com/kylefleming/opencv/releases/download/3.3.0/opencv-3.3.0-ios-osx-framework.zip
* Ran:
[code]
* Received the following error:
[code]

Judging by issues https://github.

[2018-01-10 15:48] Ethenyl opened #105 "Rename and existing Pod"
Hi,

I'm the owner of `JamfKit` (formerly uploaded in the master repo as `JAMFKit`).

I had to rename my repository and now I'm completely unable to upload a new version of my library since the name is case insensitive.

It seems that the `trunk` command is missing a `rename` feature to rename a full Pod.

Maybe someone have a better solution.

Thanks for your help.

[2018-01-11 18:46] segiddins commented on #105
There is no renaming of Pods, you always have to push an entirely new pod (and then can deprecate the original in favor of the new one).

[2018-01-11 18:58] Ethenyl commented on #105
Hi @segiddins,

Thanks for the answer, I tried this method and in fact, the old pod was removed, but the empty folder with the name `JAMFKit ` is still in place, preventing me to create a new **Pod** with the name `JamfKit`.

At least, the `delete` command should remove empty folder in case there was only a single version.

Do you see the issue I'm facing?

[2018-01-11 19:44] orta commented on #105
I'm afraid they have the same identifier if they are different capitalization - because they are represented on a file system and filesystems can be case-insensitive.

[2018-01-11 19:44] orta commented on #105
Realistically, to re-name a pod there'd need to be an API on trunk.cocoapods and a command in the CLI

[2018-01-12 01:51] kylefleming commented on #104
Moving to [trunk.cocoapods.org](https://github.com/CocoaPods/trunk.cocoapods.org) repo as issue https://github.com/CocoaPods/trunk.cocoapods.org/issues/236

[2018-01-12 01:51] #104 closed

[2018-01-12 16:00] Ethenyl commented on #105
Thanks @orta for the feedback, so... if I understand correctly, there's nothing I can do about it and I'll have to continue to push with `JAMFKit` instead? 😢

[2018-01-12 18:58] orta commented on #105
There's nothing you can do unless you want to ship some code, realistically

[2018-01-13 21:27] felixsolorzano opened #106 "Email verification not sen't"
I'm trying to register my email but didn't receive any email when running:

[code]
Our email hosting is Google... so Idk what I'm doing wrong

@orta help please.

[2018-01-13 23:50] orta commented on #106
I can't find any emails sent, or any of the usual bounce/spams/anything - are you seeing error messages?

[2018-01-14 07:41] felixsolorzano commented on #106
I'm sorry, it was a problem with a closing string `'` at Jonathan's MacBook Pro, sorry

[2018-01-14 07:41] #106 closed

[2018-03-02 11:47] Juriv opened #107 "appsight.io integration"
Hey, I wondering if there anything I need to do in order to track which apps consume my pod?
We have plenty of pods and showroom app on the appstore which shows how our libs work, however Neither libs nor app data could be found on appsight.io

[2018-03-02 14:57] orta commented on #107
Nothing from the CocoaPods side I'm afraid, we send along the pod unique ID and it's on their side to figure out what to show. Would recommend asking them

[2018-03-02 14:57] #107 closed

[2018-03-02 20:41] akhilcb opened #108 "missing verification mail"
We tried to do pod trunk register with mail id "cocoapods@bluejeans.com" but did not receive a verification mail. Our IT has enabled getting mails from external mails to this now. @orta  Could you please unblock from your side so that I can try again. I tried again but didn't get any mail.

[2018-03-02 21:47] orta commented on #108
OK, that's it unblocked

[2018-03-02 21:53] akhilcb commented on #108
Thanks a lot. It worked.

[2018-03-02 21:53] #108 closed

[2018-04-21 02:32] SunnyLinSD opened #109 "Net::OpenTimeout - execution expired"
When I use pod install to install pod to my project, I get the following error:
[code]
What are you willing to cause?

[2018-06-19 21:15] hsoehalim opened #110 "No email received for 'pod trunk register'"
Hi There,

I've ran this several times: pod trunk register harry@answerdash.com 'Harry Soehalim'
and I haven't received any emails so far. I've filed an issue under https://github.com/CocoaPods/CocoaPods/issues/7852 and told to file it here instead. Can you help?

Thanks,
Harry

[2018-06-20 04:02] segiddins commented on #110
Looks like the email bounced, try again?

[2018-06-20 05:15] hsoehalim commented on #110
Thank you! It's working now :)

[2018-06-20 05:15] #110 closed

[2018-08-08 06:43] ripperhe opened #112 "Can I change my name？If so, what should I do？"
➜ pod trunk me

Name: ripper
Email: ripperhe@qq.com
Since: August 28th, 2016 23:54
Pods:
ZYSegmentView
ZYCategory
ZYSuspensionView
ZYGCDTimer
ZYPageView
ZYProgressView
Sessions:
August 6th, 22:47 - December 12th, xx:xx. IP: xx.xx.xx.xx
Can I change my name？If so, what should I do？

[2018-09-29 02:28] SunnySunning opened #113 "pod trunk delete podName podVersion not work"
I use the '`pod trunk delete WebViewPool 0.1.0`',its work fine,show me its excute success! but after a while, the WebViewPool 0.1.0 **reappear** in the cocoapods index repo,its very distress! whats wrong with the cocoapods index repo,help me!

[2018-09-30 02:04] SunnySunning commented on #113
But it was still in,its link:[https://github.com/CocoaPods/Specs/blob/41b5a61d24d68aecc42e1066958d99de9c8d59e8/Specs/6/5/6/WebViewPool/0.1.0/WebViewPool.podspec.json](url)

[2018-09-30 02:06] SunnySunning commented on #113
**WARNNING**: If you click the url cannot open it, you can copy and then paste in the browser input field！

[2018-09-30 18:29] amorde commented on #113
@SunnySunning that link is viewing a specific point in the repository history, at which the podspec still existed.

Here is the containing folder of your podspec on master: https://github.com/CocoaPods/Specs/tree/master/Specs/6/5/6

Deleting a podspec does not erase it from the repo history

[2018-10-01 11:48] Tulleb opened #114 "No email received for pod trunk register"
Hey team, thanks for your work.

I don't receive any email from pod trunk register guillaume@bellut.com 'Guillaume Bellut'. Am I in a blacklist or anything?

[2018-10-01 11:54] orta commented on #114
We have it marked as delivered by your mail server:

<img width="1206" alt="screen shot 2018-10-01 at 7 53 53 am" src="https://user-images.githubusercontent.com/49038/46287012-2e057d00-c54f-11e8-83ae-5398616eccd7.png">

Spam folder?

[2018-10-01 11:56] Tulleb commented on #114
No nothing in my spams... I'm trying again right now.

[2018-10-01 11:57] Tulleb commented on #114
Received this time :)

[2018-10-01 11:57] #114 closed

[2018-10-02 17:16] amorde commented on #113
We will not rewrite the history of the repo to delete a single spec, sorry. There also isn't anything in that Podspec that appears to be a security issue at first glance (ex. API keys)

I'm going to close this but we can continue discussion here if you have additional questions

[2018-10-02 17:16] #113 closed

[2018-10-02 17:18] dnkoutso commented on #113
Agreed

[2018-10-17 08:00] #105 closed

[2018-10-18 13:21] LucasVanDongen opened #115 "An internal server error occurred. Please check for any known status issues at https://twitter.com/CocoaPods and try again later."
I'm trying to update my library in the same way I have been doing in the last weeks. Pushing a version tag, matching the version tag in .podspec and then calling `pod trunk push`. It looks a lot like https://github.com/CocoaPods/cocoapods-trunk/issues/59

[code]

This is the pod spec:
[code]

Version 0.9.3 fixes a bug in 0.9.1 where alignments of the layout would be swapped sometimes, which is pre

[2018-10-18 18:10] LucasVanDongen commented on #115
It just worked

[2018-10-18 18:33] dnkoutso commented on #115
Might be an intermittent issue. We will keep monitoring but for now I am closing.

[2018-10-18 18:33] #115 closed

[2018-11-08 09:30] loicgriffie opened #116 "No email received for pod trunk register"
Looks like my email has been black listed on your side. When doing pod trunk register contact@hubkit.io i do not receive email to validate. But when sending email to the same address myself I receive it.

Regards

[2018-11-09 15:37] loicgriffie commented on #116
Sorry guys, but i'm a bit of stuck here and we need to push a new version for our main client's app.

[2018-11-09 15:51] orta commented on #116
We got a bounce from the mail-server that the email didn't exist back on the 7th, so I've removed it and it should come through 👍

[2018-11-09 15:51] #116 closed

[2018-11-09 15:53] loicgriffie commented on #116
thanks a lot. It works 👏

[2018-11-15 10:15] kranjanford commented on #110
i am getting same issue.

/Users/kranjan/.rbenv/versions/2.4.1/lib/ruby/2.4.0/rubygems/dependency.rb:310:in `to_specs': Could not find 'cocoapods-trunk' (< 2.0, >= 1.3.1) - did find: [cocoapods-trunk-1.3.0] (Gem::MissingSpecVersionError)

[2018-11-16 13:16] jjzjx118 opened #117 "not allowed to push new versions"
Hello ， I'm trying to push my pods to cocoapods. but I got this error:
[!] You (jjzjx118@foxmail.com) are not allowed to push new versions for this pod. The owners of this pod are tospery@gmail.com.

I don't know who is  tospery and this is my pod.

the name of my pod is: JXUtils .
Hope I can get it back.

[2019-01-01 23:08] stevekellyhpe opened #123 "trunk register verification email leads to 404"
* [x ] I've read and understood the [*CONTRIBUTING* guidelines and have done my best effort to follow](https://github.com/CocoaPods/CocoaPods/blob/master/CONTRIBUTING.md).

# Report

## What did you do?

pod trunk register cloud@meridianapps.com 'Steve Kelly' --description='Steve Kellys 15 inch macbook'

## What did you expect to happen?

I expected an verification email address to be sent to clou

[2019-01-01 23:12] orta commented on #123
I think we delete the verification code from db post verification, so we can't really say "token expired" if it succeeds and you try do it again without adding more data to the db, so it's likely that this will not get fixed.

[2019-01-13 09:53] youknowone opened #124 "Improper pod ownership resolution"
I tried to upload a pod named `UIKitExtension`, but it shows  errors with other user's email.

By accessing `https://cocoapods.org/pods/UIKitExtension`, it redirects to my project.

But when I try to
[code]

it shows error like:

[code]

which is not my email address.

I also tried to claiming my pod at https://trunk.cocoapods.org/claims/new, but I didn't get any response for a few months.

Any he

[2019-01-13 18:49] segiddins commented on #124
We got your claim and had marked it as resolved internally.

[2019-01-13 20:05] orta commented on #124
Hi, yeah, sorry it looked like a set of claims we'd had around that time that were people claiming to own their own Pods and so I dismissed it - I'll assign it to your email.

[2019-01-13 20:05] #124 closed

[2019-02-08 10:26] tiqwab opened #125 "No email received for pod trunk register"
This might be a same issue as https://github.com/CocoaPods/cocoapods-trunk/issues/116 for kei-ikezoe@i-mobile.co.jp. We received no mail after `pod trunk register kei-ikezoe@i-mobile.co.jp`. The address was temporarily inactive, so I wonder if it is blocked on your side. Could you check it?

[2019-02-18 09:00] #125 closed

[2019-03-08 11:50] groue commented on #75
Same error here.

<details>
<summary>dump</summary>

[code]

</details>

[2019-03-08 11:50] groue commented on #75
Is there a known workaround?

[2019-03-11 15:06] tulushev commented on #75
Same issue, some versions of the pod got deprecated others are not.

[2019-05-10 11:19] orta opened #127 "pod trunk push when un-authed could have a better error message"
[code]

If I didn't know what registering a session meant, I'd not be sure what to do next.

[2019-05-10 13:33] dnkoutso commented on #127
yes indeed.

[2019-05-11 01:55] bsarrazin opened #128 "Invalid registration possibly breaks the `trunk me` command?"
I originally registered with this command:
[code]

and got a similar error but still got the email.
now `pod trunk me` is throwing the error all the time

### Command

[code]

### Report

* What did you do?

* What did you expect to happen?

* What happened instead?

### Stack

[code]

### Plugins

[code]

### Error

[code]

[code]

[2019-05-11 11:35] orta commented on #128
Did you try change the permissions?

[2019-05-11 16:36] bsarrazin commented on #128
@orta that's it!
Sorry for the noise. I am using a git repo to manage my dotfiles and this one lingered from a couple years ago.
Removing that file and registering worked!
Thank you! 🍻

[2019-05-11 16:36] #128 closed

[2019-07-01 16:26] chansen22 opened #129 "Claim turnaround time?"
I submitted a claim a little while ago, but I haven't heard anything about it since then. Is there an average time for resolving these requests? Should we receive an email verifying that our claim has been received?

Sorry if this is the wrong spot for this, but it seems like this process could use a little light.

Specifically it was for https://github.com/instacart/nantes

[2019-07-01 16:44] orta commented on #129
Yeah, it's kinda blocked on my free time which I have very little of atm. Will take a look now.

[2019-07-01 16:49] chansen22 commented on #129
Thanks for jumping on it. Flappy Royale seems like a fun project ;)

[2019-07-01 16:53] orta commented on #129
Alright - ran through the open disputes, thanks @chansen22 !

[2019-07-01 16:53] #129 closed

[2019-07-04 02:12] Anomymouse opened #130 "rewrite or delete spec single file"
I want rewrite or delete the history of the repo to update a single spec, I used trunk delete, but it doesn't work, is this a bug or by design? I think this is not security for the private spec, hope your reply, thanks.

[2019-07-04 05:14] dnkoutso commented on #130
Trunk does not allow that afaik.

[2019-08-18 14:09] wuqiushan commented on #100
I'm having the same problem, pod trunk register wuqiushan3@163.com 'wuqiushan', tips: Please verify the session by clicking the link in the verification email that has been sent to wuqiushan3@163.com,   I tried many times, but not once received

[2019-09-27 19:14] jjoaquim opened #137 "Unable to receive the register email for a specific email"
* [x] I've read and understood the [*CONTRIBUTING* guidelines and have done my best effort to follow](https://github.com/CocoaPods/CocoaPods/blob/master/CONTRIBUTING.md).

# Report

## What did you do?

First I added a Claim for a Pod, a couple of days ago. No answer to the claim. I then reactivated the email used to register (former colleague).
`pod trunk register raphael@followanalytics.com 'Rap

[2019-10-10 09:42] jbarros35 commented on #104
same issue
macOS Catalina

[2019-10-10 17:41] kylefleming commented on #104
@jbarros35 I suggest creating a new issue

[2019-10-10 23:04] roxiemobile opened #138 "No email received for 'pod trunk register'"
Hi team,

Today I've been trying to register a machine with ‘pod trunk register’ command:

[code]

But no verification email was received.

Could you please check if there are any issues on your end with the registration of the `no@name.com` email.

**UPD:** After a long time the verification email was received. Thanks!

[2019-10-11 08:41] #138 closed

[2019-10-19 14:39] ScottPetit opened #139 "Unable to receive the register email for a specific email & Claim turnaround time"
I submitted a claim about a week ago for [HSAttachmentPicker](http://cocoapods.org/pods/hsattachmentpicker).  When we didn't hear back so we mirrored the steps in https://github.com/CocoaPods/cocoapods-trunk/issues/137 of activating our former colleagues email and trying to register a trunk session with them.  We haven't been able to receive a registration email after numerous tries and waiting ab

[2019-10-29 07:02] tplinsurance commented on #63
@anil11: did you got any solution for it?

[2019-11-01 20:39] noelweichbrodt opened #140 "Remove `SpokeStack` pod from trunk indexes"
All versions of the `SpokeStack` pod have been removed via `pod trunk delete`, but the pod is still showing up in searches, and no further versions can be published via `pod trunk push` (with an error: `[!] {"name"=>["is already taken"]}`).

[2019-12-03 02:51] jiangfangsheng opened #141 "No email received for pod trunk register"
* [ ] I've read and understood the [*CONTRIBUTING* guidelines and have done my best effort to follow](https://github.com/CocoaPods/CocoaPods/blob/master/CONTRIBUTING.md).

# Report

## What did you do?

ℹ Please replace these two lines with what you did.

pod trunk register jiangfangsheng@baidu.com jiangfangsheng --verbose

## What did you expect to happen?

received email from cocoapods

## What

[2019-12-06 19:15] melo30 opened #142 "The cocoapods version is 1.7.4, and when I execute the pod trunk command, I report the following error："
### Command

[code]

### Report

* What did you do?

* What did you expect to happen?

* What happened instead?

### Stack

[code]

### Plugins

[code]

### Error

[code]

――― TEMPLATE END ――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――

[!] Oh no, an error occurred.

[2019-12-06 19:37] igor-makarov commented on #142
Probably could add a different Gemfile to the Travis matrix

[2019-12-07 02:10] melo30 commented on #142
@dnkoutso @igor-makarov So what you're saying is that the only way to solve this problem is to wait until the release of version 1.4.2 of cocoapod-trunk😂

[2019-12-07 05:39] nagibazad commented on #100
I'm having the same problem, pod trunk register amit@revesoft.com 'Amit', tips: Please verify the session by clicking the link in the verification email that has been sent to amit@revesoft.com, I tried many times, but not once received. Please check the block list and remove my mail address from the block list.

[2019-12-07 06:55] igor-makarov commented on #142
Or you could upgrade CocoaPods to >= 1.8.0.

Or downgrade `cocoapods-trunk` plugin. That's also a solution.

[2019-12-09 07:17] melo30 commented on #142
I solved the problem by downgrade cocoapods-trunk plugin to 1.3.1 , thank you very much!

[2019-12-09 07:50] melo30 commented on #142
But, if i upgrade CocoaPods to >= 1.8.0, Can't solve this problem. First of all, it will report the wrong "CDN: trunk Repo update failed". Then I looked at the common online solution: 1.podfile  add  source 'https://github.com/CocoaPods/Specs.git'  2.pod repo remove trunk .    And then when I went to execute 'pod trunk push ....' , It's going to help me create trunk repo again. And then repeat the

[2019-12-09 09:17] jiangfangsheng commented on #141
anyone response?

[2019-12-15 18:38] Ahmadalsofi opened #143 "Pod trunk register"
Hi There,

I've ran this several times: pod trunk register alsofiahmad@yahoo.com 'ahmadalsofi'
and I haven't received any emails so far. Can you help?

Thanks,
Ahmad

[2019-12-15 18:55] Ahmadalsofi commented on #143
Hey @dnkoutso , I'm still didn't receive the email yet

[2019-12-17 06:29] fradenza commented on #100
I'm having the same problem, pod trunk register admin@ndv6.net 'NDV6',
[!] Please verify the session by clicking the link in the verification email that has been sent to admin@ndv6.net, I tried many times, but not once received. Please check the block list and remove my mail address from the block list.

[2019-12-20 03:28] tppqt commented on #141
我pod install 下载-> Installing BMKLocationKit (1.8.2) 速度太慢了，其他都很快，到你这里就卡住了

[2019-12-20 05:09] jiangfangsheng commented on #141
我昨天刚更新版本，是今天测试的吗

[2019-12-29 17:36] #143 closed

[2020-03-03 16:51] johnmillz commented on #141
I'm facing a similar issue with a couple of my repositories - any update on this?

[2020-03-05 09:48] marcvitbr opened #144 "Is the Trunk Token invalidated after the first use?"
I looked into the code and the only validation I could find was regarding how many days the token remains valid (128, currently).

Is this the only validation a trunk token goes through? Does this mean that I can run pod register on my machine, click the email link, and use the token in my CI server for 128 days (through COCOAPODS_TRUNK_TOKEN env variable)?

[2020-03-06 18:22] johnmillz opened #145 "No verification email received when using pod trunk register"
I've submitted claims for a couple of repos: yoti-doc-scan-ios & yoti-doc-capture-ios. I haven't received any response from the claim. I've also commandeered an ex-employee's email address and performed CLI registrations and haven't received verification emails for this process too.
Is there any other way to re-claim a repository and what sort of turnaround time is expected of a claim?

[2020-03-09 11:02] johnmillz commented on #145
Update: claim was completed.

[2020-03-09 11:02] #145 closed

[2020-03-13 10:57] ncreated opened #146 "Can't push pod with different case after old one was deleted"
Hello 👋, I work for Datadog and I'm struggling with pushing our [`Datadog.podspec`](https://github.com/DataDog/dd-sdk-ios/blob/master/Datadog.podspec) by getting:
[code]

A little background:
* In the past, a different community member did push the `DataDog.podspec` (camel case);
* We contacted this member and he added me as a contributor, so `pod trunk me` is this:
[code]
* Then I deleted the onl

[2020-03-20 11:16] ncreated commented on #146
Could anyone 🙏 help on that 🙂? This blocks us from releasing our pod under our `Datadog` trademark and forces us to make up an artificial name 🙅‍♂.

Wrapping up, even if the `DataDog.podspec` is deleted:
[code]
I can't push `Datadog.podspec`:
[code]

[2020-03-24 12:54] Anobisoft commented on #74
Any chance to get a fix?

[2020-03-27 09:37] AliSoftware commented on #146
This happens because you're not trying to push the same pod than the old one and replacing it, but trying to push a different new pod (with a different name than the other one) but whose name is _conflicting_ with the old one.

Note especially that the two use different cases, DataDog for the old, already existing one vs Datadog for the new one you're trying to push. So trunk considers that you're

[2020-03-27 19:01] ncreated commented on #146
Hey @AliSoftware, thanks for looking into this issue.

Our goal was to re-claim our `Datadog` trademark for the pod name. Thus, what we want to ship is not related to old `DataDog` pod in any way. But I understand if there's not a mechanism in CP trunk to solve this case 😞. We might need to end up with a different name for the pod.

[2020-04-01 04:44] Ethella commented on #146
https://github.com/CocoaPods/trunk.cocoapods.org/issues/279 Having a similar issue here.

[2020-04-02 21:47] Ethella opened #148 "Support trunk unpublish"
I'm experiencing this issue. https://github.com/CocoaPods/trunk.cocoapods.org/issues/279
and yet I found a similar issue. https://github.com/CocoaPods/cocoapods-trunk/issues/146 from `Datadog`

---
Would it be possible to support unpublishing the entire package if there's no active usage for a period of time? I'm not sure what kind of PR I should draft.
Given the response from the member https://g

[2020-04-20 22:16] orta commented on #88
They got access to this pod in https://github.com/CocoaPods/trunk.cocoapods.org/issues/259

[2020-04-20 22:16] #88 closed

[2020-04-23 16:33] ohernandezIBM opened #149 "I have no access to my older email due to company changing email addresses"
I noticed that I could not see new pod I deployed. I then used:

ohernandezltkmacs-MacBook-Pro:1.0.0 ohernandez@us.ibm.com$ pod trunk me

Name: Omar Hernandez
Email: ohernandez@us.ibm.com
Since: March 30th, 2018 14:30
Pods:
EOCore
EOCoreDebug
IBMTealeaf
IBMTealeafDebug
DigitalAnalytics
DigitalAnalyticsDebug
IBMTealeafReactNativeDebug
IBMTealeafReactNative
TealeafMD5
TealeafSHA2
Sessions:
March 30t

[2020-04-23 16:39] ohernandezIBM commented on #149
Is there a way to edit my profile with new email?

[2020-05-06 04:32] dji-dev opened #150 "Cannot receive email for pod trunk register - DJI SDK"
Hi @orta @alloy @kylef @paulb777 , the cocoapods trunk authentication token on my MacBook Pro is invalid now and I try to renew it by running "pod trunk register" using terminal. But cannot receive email after trying several times. We change to different email, still not work.

Here are our existing pods info:

  - Name:     DJI SDK
  - Email:    sdk@dji.com
  - Since:    March 29th, 2016 03:27

[2020-05-06 21:49] amorde commented on #149
Solved - see https://github.com/CocoaPods/CocoaPods/issues/9743

[2020-05-06 21:49] #149 closed

[2020-05-17 12:17] jigs611989 commented on #115
@dnkoutso I see this error.

$ pod trunk register jigs.patelit@gmail.com 'Jignesh Patel' --description='Personal Laptop' --verbose
opening connection to trunk.cocoapods.org:443...
opened
starting SSL for trunk.cocoapods.org:443...
SSL established
<- "POST /api/v1/sessions HTTP/1.1\r\nContent-Type: application/json; charset=utf-8\r\nAccept: application/json; charset=utf-8\r\nUser-Agent: CocoaPods/1

[2020-05-17 13:18] Adelais0 commented on #115
same here.

[2020-05-17 20:47] sauvikdolui commented on #100
Hi @orta facing the same issue with my email address sauvikdolui@gmail.com, did not face this issue earlier. Can you please check and remove my email address from the blocked list you mentioned [here](https://github.com/CocoaPods/cocoapods-trunk/issues/100#issuecomment-334872255)?
<img width="1269" alt="Screenshot 2020-05-18 at 2 14 49 AM" src="https://user-images.githubusercontent.com/14096115/8

[2020-05-18 03:12] furysheep opened #151 "pod trunk register shows internal server error"
[code]

Is pod trunk dead? I can't get it working. I have tried on my other mac but the same result.

[2020-05-18 07:25] VisionBao commented on #151
same to me

[2020-05-18 11:46] Romixery commented on #115
Same here:

opening connection to trunk.cocoapods.org:443...
opened
starting SSL for trunk.cocoapods.org:443...
SSL established, protocol: TLSv1.2, cipher: ECDHE-RSA-AES128-GCM-SHA256
<- "POST /api/v1/sessions HTTP/1.1\r\nContent-Type: application/json; charset=utf-8\r\nAccept: application/json; charset=utf-8\r\nUser-Agent: CocoaPods/1.9.1\r\nAccept-Encoding: gzip;q=1.0,deflate;q=0.6,identity;q=0.

[2020-05-18 14:37] tareksabry1337 commented on #151
+1 Same issue here

[2020-05-18 17:45] tareksabry1337 commented on #151
This is resolved.

[2020-05-18 17:46] #151 closed

[2020-05-18 17:46] dnkoutso commented on #151
Yeap follow on https://github.com/CocoaPods/trunk.cocoapods.org/issues/284

[2020-05-18 17:46] dnkoutso commented on #150
@amorde @dji-dev was this resolved?

[2020-05-18 23:23] amorde commented on #150
Not that I am aware of

[2020-05-19 01:02] orta commented on #150
They emailed me privately and I looked at it, their mail server was blocking the service we use to send emails - it's resolved 👍

[2020-05-19 01:02] #150 closed

[2020-06-18 17:00] TaylorWhitlatch commented on #141
I am facing a similar issue for ed@boardactive.com. He was a former employee and the initial email may have bounced before we recovered his account.

[2020-06-19 19:33] nrbrook opened #152 "pod trunk delete reports error when it succeeds"
* [x] I've read and understood the [*CONTRIBUTING* guidelines and have done my best effort to follow](https://github.com/CocoaPods/CocoaPods/blob/master/CONTRIBUTING.md).

# Report

## What did you do?

[code]

## What did you expect to happen?

Delete the pod version

## What happened instead?

It does delete successfully, but reports an error

## CocoaPods Environment

ℹ Please replace these two

[2020-06-19 19:33] dnkoutso commented on #152
Moved to cocoapods-trunk.

[2020-07-08 05:42] venkateshsandhana-1592 opened #153 "not allowed to push new versions for this pod"
WCOla is my pod.I have to push new version . I'm trying to push the pod. but it shows me the following  error
(sandhana.venkatesh@wibmo.com) are not allowed to push new versions for this pod.
I have claimed it here https://trunk.cocoapods.org/claims/new
But i didn't got the response. please help me.

[2020-09-08 21:43] falipate commented on #123
Hi @orta I've performed the exact same steps as @stevekellyhpe described and got the same result with the following display from verifying the link in the email:

![Screen Shot 2020-09-09 at 7 40 16 am](https://user-images.githubusercontent.com/12621961/92530466-c1817580-f26f-11ea-9ca6-e244088cc2d0.png)

Going off what was said in this thread, can you confirm that the registration was successful?

[2020-10-14 06:03] CCSH opened #154 "'pod trunk register ' The verification code cannot be received by the mailbox"
Hey team, thanks for your work.

I don't receive any email from pod trunk register 624089195@qq.com 'CCSH'. Am I in a blacklist or anything?

[2020-10-21 12:25] fernandosanchez-situm commented on #100
Hi @orta, we are facing the same issue. Can you please check and remove from the blocked list the emails mobile@situm.com and mobile@situm.es
Thanks

[2020-11-23 04:02] dlin-me commented on #100
This is NOT resolved.    I have the same issue for email   engineering@narratiive.com

[2020-12-01 18:11] vitalys opened #155 "`pod trunk delete` works, but displays html-formatted error"
* [x] I've read and understood the [*CONTRIBUTING* guidelines and have done my best effort to follow](https://github.com/CocoaPods/CocoaPods/blob/master/CONTRIBUTING.md).

# Report

## What did you do?

I deleted pod version using `pod trunk delete <podname> <podversion>` command

## What did you expect to happen?

Pod deleted without issues and I can see confirmation text (something like `<podnam

[2020-12-02 17:38] rrolland commented on #154
Hello,

Same issue for me today for an outlook mailbox.

[2020-12-08 19:34] ajman83 commented on #154
Exactly Same Issue, Doesn't Arrive and Continuously Responsive

[2020-12-23 15:28] razamerchantwork commented on #100
@orta I'm having the same problem, no email received in both inbox and spam 'developer016@invisionsolutions.ca'

[2021-01-05 14:50] dalemyers commented on #123
I'm seeing the same issue.

[2021-01-07 03:18] Isuru-Nanayakkara opened #156 "Deleting a pod from the trunk fails"
* [x] I've read and understood the [*CONTRIBUTING* guidelines and have done my best effort to follow](https://github.com/CocoaPods/CocoaPods/blob/master/CONTRIBUTING.md).

# Report

## What did you do?

My public pod [CountrySelectorView](https://cocoapods.org/pods/CountrySelectorView) is kind of messed up. See [here](https://github.com/CocoaPods/CocoaPods/issues/10296).

Because of that, I wanted

[2021-01-15 01:57] CCSH opened #158 "No email received for pod trunk register"
This might be a same issue as #116 for 624089195@qq.com. We received no mail after pod trunk register 624089195@qq.com. The address was temporarily inactive, so I wonder if it is blocked on your side. Could you check it?
<img width="565" alt="截屏2021-01-15 09 54 41" src="https://user-images.githubusercontent.com/16768967/104670964-cbcce800-5717-11eb-9b52-284863e86d11.png">

[2021-02-04 15:34] const-cloudinary commented on #123
Same for me

[2021-02-05 01:43] gutoglup commented on #123
Same for me now

[2021-02-05 01:44] gutoglup commented on #154
Same problem here too

[2021-02-18 06:39] liuyongjiesail commented on #115
Hello, is this error resolved? Hope to inform the solution

[2021-02-18 06:40] liuyongjiesail commented on #115
Hello, is this error resolved? Hope to inform the solution

[2021-02-18 06:55] CCSH commented on #158
[!] An internal server error occurred. Please check for any known status issues at https://twitter.com/CocoaPods and try again later.

[2021-03-01 05:24] #158 closed

[2021-03-01 05:25] #154 closed

[2021-04-22 13:33] asbjornu commented on #123
I'm also seeing this now. Some sort of positive confirmation of a successful verification would be nice.

[2021-04-25 09:47] iYiming opened #159 "I don't receive any email from pod trunk register"
Hey team, thanks for your work.

I don't receive any email from pod trunk register mayiming@appadhoc.com 'appadhoc'. Am I in a blacklist or anything?

[2021-05-07 18:49] kamerc commented on #100
I am having the same issue, email domain is @sas.com

[2021-05-26 20:51] pirishd commented on #100
I have the same issue, email domain is @yahoo.fr (not in the junk folder either). Works well with domain @me.com.
Unfortunately my pod (InstantMock) is only registered with @yahoo.fr domain and session has expired, so I cannot push push an update :(

[2021-05-27 19:12] pirishd commented on #100
I finally received the email around 12 hours later (while immediately for domain @me.com)

[2021-09-16 12:23] ajman83 opened #167 "."
[code]
[code]

[2021-09-16 14:54] #167 closed

[2021-09-28 06:44] naahmedea commented on #123
I am also facing the same issue. I get a session verification link to my outlook enterprise from cocoa pods in which it is somehow damaged.
eg:  https://nam02.safelinks.protection.outlook.com/url=xyz

Any quick fixes?

[2021-09-28 08:29] orta commented on #123
Your verification is accepted, just not by you, so your CLI will be working just fine - we just don't persist that verification token after the first check

[2021-09-28 09:30] naahmedea commented on #123
I get this error when trying to publish the static libaries.
`
[!] Source code for your Pod was not accessible to CocoaPods Trunk. Is it a private repo or behind a username/password on http?`

static libs and podsec file are on git private repo and the command i use for publishing is
`pod trunk push`

[2021-10-20 06:08] kkawai opened #168 "Not receiving email received for pod trunk register"
Hello,
   My associate is not able to receive email for pod trunk register:

pod trunk register lev.trubov@freestar.io  'Lev Trubov' --description='macbook air '

We are assuming his email has been blocked by you.  If that's the case, can you please unblock?

Thank you

[2021-10-20 19:15] kkawai commented on #168
Do you need more information from me to help get Lev's email unblocked?  My work email is kevin.kawai@freestar.io  Is there any way to expedite?  Thank you!  @dnkoutso

[2021-10-25 21:17] #168 closed, assigned to nobody

[2021-10-26 17:51] Ahmadalsofi opened #169 "Not receiving email received for pod trunk register"
Hello,
I am not able to receive email for pod trunk register:

pod trunk register alsofiahmad@yahoo.com 'Ahmad' --description='macbook air '

I am assuming my email has been blocked by you. If that's the case, can you please unblock?

Thank you

[2021-10-26 20:24] #169 closed, assigned to nobody

[2021-12-07 15:27] scannillo opened #170 "Not receiving email for `pod trunk register`"
Hello,

I am long-time CocoaPods publisher and am now no longer receiving an email after `pod trunk register` when using a new machine. Here is the command I am trying:

[code]

I greatly appreciate your help into getting this resolved! Please let me know if there is any additional information I can provide.

[2021-12-07 15:46] scannillo commented on #170
An email was sent!

[2021-12-07 16:01] scannillo commented on #170
Hello - this is not consistently working. `samantha.cannillo@getbraintree.com`, as well as other `@getbraintree.com` teammate emails are not receiving emails from `pod trunk register`.

[2021-12-07 16:07] crookedneighbor commented on #170
My `blade@getbraintree.com` email is also not getting an email when I run the command.

[2021-12-08 16:00] orta commented on #170
Strange, it looks like it was blocked on your side, either that or someone beat me to removing these from the blocklist in our mailer. I've seen a few `@getbraintree.com` emails go out since, so maybe a temporary blip?

 e.g. I'd retry

[2021-12-09 19:13] scannillo commented on #170
Once we switched to our `@paypal.com` emails, we were able to get registered. I can close this ticket, but if you could unblock the `@getbraintree.com` domain that would be great!

[2021-12-09 19:13] #170 closed

[2021-12-21 11:48] ysd24 opened #171 "pod trunk push - You are not allowed to push new versions for this pod."
I am getting this when trying to push a new version of the pod 'MASProximity'.
I know i am not in the list of owners for the pod. But since the original owner/maintainer has left the organisation and we do not have access to the original email id used by the maintainer.

I have raised a claim for 'MASProximity' pod for ownership.

Sorry, I am trying to get the claim accepted through this issue as

[2022-02-07 07:38] santoshtewarippe opened #172 "Unable to find a specification for `SwiftMessages (= 9.0.5)` during pod install."
I am using `trunk` for Cocoapods with the below url in the Podfile:

`source 'https://cdn.cocoapods.org/'`

pod install was working perfectly, but suddenly from past few days I am facing the below issue:

`Unable to find a specification for 'SwiftMessages (= 9.0.5)'` during pod install.

The pod is different on each retry. It is randomly failing for any pod.

I tried the below things but still the

[2022-04-02 08:58] 2sem opened #173 "Confirm your session email gives me internal server error"
pod trunk register
=>
[CocoaPods] Confirm your session
https://trunk.cocoapods.org/session/verify/5b772b05

this link gives me 'interal server error'

what's wrong??

[2022-04-03 05:05] 2sem commented on #173
It seems like session is registered after a day.
Very weird

[2022-04-03 05:05] #173 closed

[2022-04-26 12:23] mfa01 commented on #100
same issue with @yahoo.com
but it work with gmail

[2022-07-19 07:22] tplester opened #175 "Not receiving email for pod trunk register"
Hi,

I'm not getting CocoaPod emails for wrigney@deloitte.com.au when using the `pod trunk register` command

Earlier this year, the owner of one of my company's Pods left without transferring ownership.
I submitted a Dispute request about 3 months ago without a response.
Recently I had their email address re-enabled so that I could transfer the ownership that way but I'm not getting any emails fr

[2022-09-26 21:02] vhuseinova-msft opened #176 "API for getting the latest spec doesn't return the latest version correctly"
https://trunk.cocoapods.org/api/v1/pods/AzureCommunicationUICalling/specs/latest returns 404 status code and redirects to [this page](https://raw.githubusercontent.com/CocoaPods/Specs/08beb7948001739710fcb35bd6ed797fba3ff0bd/Specs/2/8/d/AzureCommunicationUICalling/1.0.0/AzureCommunicationUICalling.podspec.json) but it looks like it should lead to [this page](https://raw.githubusercontent.com/Cocoa

[2022-10-08 01:46] huahuaworld commented on #115
-> Pod installation complete! There is 1 dependency from the Podfile and 5 total pods installed.
   Building with `xcodebuild`.
   Testing with `xcodebuild`.
 -> NECopyrightedMedia (1.3.0)
opening connection to trunk.cocoapods.org:443...
opened
starting SSL for trunk.cocoapods.org:443...
SSL established, protocol: TLSv1.3, cipher: TLS_AES_128_GCM_SHA256
<- "POST /api/v1/pods?allow_warnings=true HT

[2022-11-04 11:19] JacekSoftnauts commented on #123
Hi a have problem Technically it's a 404, but we're not too fussed
I try to register my account. What to do I need to push SDK to the server
Best regards JK Kontakt.io